.employes-section {
  background-color: var(--ash-color);
}

.employes-section__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employes-section__list {
  display: flex;
  justify-content: space-between;
}

.employes-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--head-color);
  margin-bottom: 50px;
}

.employes-section__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--head-color);
  margin-bottom: 10px;
}

.employes-section__descr {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.employes-section__card {
  padding-top: 30px;
  padding-bottom: 30px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.employes-section__social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.employes-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-gray-color);
  transition: color var(--transition-dur-n-fuc), background-color var(--transition-dur-n-fuc);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}

.employes-section__icon {
  fill: currentColor;
}
